In [210]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_original_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [211]:
#Print schools data frame
school_data_original_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [212]:
#Print student data frame
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [213]:
# Print data frame

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [214]:
# Rename columns
school_data_df = school_data_complete_df.rename(columns={'student_name': 'Student Name',
                                                        'school_name': 'School Name', 
                                                        'gender': 'Gender', 
                                                        'grade': 'Grade', 
                                                        'reading_score': 'Reading Score', 
                                                        'math_score': 'Math Score',
                                                         'type': 'Type', 
                                                         'size': 'Size', 
                                                         'budget': 'Budget'})
school_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [215]:
# Check rows in data
school_data_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
School ID        39170
Type             39170
Size             39170
Budget           39170
dtype: int64

In [216]:
# Calculate the number of schools
school_count = len(school_data_df['School Name'].unique())

In [217]:
# Calculate the total number of students
student_count = school_data_df['Student Name'].count()

In [218]:
#Calculate total budget
total_budget = school_data_original_df['budget'].sum()
#total_budget = total_budget_df.sum()

In [219]:
# Calculate the average math 
ave_math = school_data_df['Math Score'].mean()

In [220]:
# Calculate the average reading score
ave_reading = school_data_df['Reading Score'].mean()

In [221]:
# Calculate the % passing Math
total_math = school_data_df.loc[school_data_df['Math Score'] >= 70]['Math Score'].count()
percent_math = total_math/student_count * 100

In [222]:
# Calculate the % passing Reading
total_reading = school_data_df.loc[school_data_df['Reading Score'] >= 70]['Reading Score'].count()
percent_reading = total_math/student_count * 100

In [177]:
# Calculate the % of students passing overall  
percent_passing = school_data_df[(school_data_df['Math Score'] >= 70)].astype(float) & school_data_df[(school_data_df['Reading Score'] >= 70)].astype(float)['Student Name'].count()/student_count * 100

ValueError: could not convert string to float: 'Paul Bradley'

In [223]:
# Create summry table
summary_df = pd.DataFrame({'Total Schools': [school_count],
                            'Total Students': student_count,
                            'Total Budget': total_budget,
                            'Average Math Score': ave_math,
                            'Average Reading Score': ave_reading,
                            '% Passing Math': percent_math, 
                            '% Passing Reading': percent_reading,
                            #'% Overall Passing': percent_passing
                            })

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,74.980853

In [224]:
#Tidy formatting of df
#summary_df['Total Students'] = summary_df['Total Students'].map("{:,}".format)
summary_df['Total Budget'] = summary_df['Total Budget'].astype(float).map("${:,.2f}".format)
summary_df['Average Math Score'] = summary_df['Average Math Score'].map("{:.2f}".format)
summary_df['Average Reading Score'] = summary_df['Average Reading Score'].map("{:.2f}".format)
summary_df['% Passing Math'] = summary_df['% Passing Math'].map("{:.2f}%".format)
summary_df['% Passing Reading'] = summary_df['% Passing Reading'].map("{:.2f}%".format)

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,74.98%

In [225]:
# Table to summarise metrics for each school - School Name, School Type, Total Students, Total School Budget, Per Student Budget, Ave Math Score, Ave Reading Score, % Passing Math, % Passing Reading, % Ocerall Passing

In [264]:
# School Name 
grouped_school_name_df = school_data_df.groupby(['School Name'])

(grouped_school_name).head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [284]:
# School type
school_type = school_data_original_df.set_index('school_name')['type']

In [285]:
# Total students per school
total_students = grouped_school_name_df['Student ID'].count()

In [286]:
# Total school budget
total_school_budget = school_data_df['Budget']

In [268]:
# Per student budget
per_student = total_school_budget / total_students

In [270]:
# Average math score
school_ave_math = grouped_school_name_df['Math Score'].mean()

In [271]:
# Average reading score
school_ave_reading = grouped_school_name_df['Reading Score'].mean()

In [273]:
# % Passing math
sch_pass_math = school_data_df[school_data_df['Math Score'] >= 70].groupby('School Name')['Student ID'].count()/student_count

In [280]:
# % passing reading
sch_pass_reading = school_data_df[school_data_df['Reading Score'] >= 70].groupby('School Name')['Student ID'].count()/student_count

In [ ]:
# % overall passing

In [287]:
# Create df for above 
sch_sum_df = pd.DataFrame({'School Type': school_type,
                            'Total Students': total_students,
                            'Total School Budget': total_school_budget,
                            'Per Student Budget': per_student,
                            'Average Math Score': school_ave_math,
                            'Average Reading Score': school_ave_reading,
                            '% Passing Math': sch_pass_math, 
                            '% Passing Reading': sch_pass_reading,
                            #'% Overall Passing': percent_passing
                            })

sch_sum_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,NaN,NaN,1910635.0,48.778019,NaN,NaN,NaN,NaN
1,NaN,NaN,1910635.0,48.778019,NaN,NaN,NaN,NaN
2,NaN,NaN,1910635.0,48.778019,NaN,NaN,NaN,NaN
3,NaN,NaN,1910635.0,48.778019,NaN,NaN,NaN,NaN
4,NaN,NaN,1910635.0,48.778019,NaN,NaN,NaN,NaN

In [283]:
sch_sum_df['Total school Budget'] = sch_sum_df['Total School Budget'].astype(float).map("${:,.2f}".format)
sch_sum_df['Average Math Score'] = sch_sum_df['Average Math Score'].map("{:.2f}".format)
sch_sum_df['Average Reading Score'] = sch_sum_df['Average Reading Score'].map("{:.2f}".format)
sch_sum_df['% Passing Math'] = sch_sum_df['% Passing Math'].map("{:.2f}%".format)
sch_sum_df['% Passing Reading'] = sch_sum_df['% Passing Reading'].map("{:.2f}%".format)

sch_sum_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Total school Budget
0,NaN,39170,1910635.0,48.778019,nan,nan,nan%,nan%,"$1,910,635.00"
1,NaN,39170,1910635.0,48.778019,nan,nan,nan%,nan%,"$1,910,635.00"
2,NaN,39170,1910635.0,48.778019,nan,nan,nan%,nan%,"$1,910,635.00"
3,NaN,39170,1910635.0,48.778019,nan,nan,nan%,nan%,"$1,910,635.00"
4,NaN,39170,1910635.0,48.778019,nan,nan,nan%,nan%,"$1,910,635.00"

In [ ]:
# Sort schools by % overall passing

In [ ]:
#Sort bottom 5 lowest % overall passing

In [ ]:
##Maths scores by grade ***

In [ ]:
## Reading scores by grade**

In [ ]:
## Scores by spending **

In [ ]:
## Scores by school size **

In [ ]:
## Scores by school type **