In [85]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_original_df = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [86]:
#Print schools data frame
school_data_original_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [87]:
# Print data frame

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [88]:
# Remane columns
school_data_df = school_data_complete_df.rename(columns={'student_name': 'Student Name',
                                                        'school_name': 'School Name', 
                                                        'gender': 'Gender', 
                                                        'grade': 'Grade', 
                                                        'reading_score': 'Reading Score', 
                                                        'math_score': 'Math Score',
                                                         'type': 'Type', 
                                                         'size': 'Size', 
                                                         'budget': 'Budget'})
school_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [89]:
# Check rows in data
school_data_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
School ID        39170
Type             39170
Size             39170
Budget           39170
dtype: int64

In [90]:
# Calculate the number of schools
school_count = len(school_data_df['School Name'].unique())

In [91]:
# Calculate the total number of students
student_count = school_data_df['Student Name'].count()

In [100]:
#Calculate total budget
total_budget = school_data_original_df['budget'].sum()
#total_budget = total_budget_df.sum()

In [93]:
# Calculate the average math 
ave_math = school_data_df['Math Score'].mean()

In [94]:
# Calculate the average reading score
ave_reading = school_data_df['Reading Score'].mean()

In [123]:
# Calculate the % passing Math
total_math = school_data_df.loc[school_data_df['Math Score'] >= 70]['Math Score'].count()
percent_math = total_math/student_count * 100

In [125]:
# Calculate the % passing Reading
total_reading = school_data_df.loc[school_data_df['Reading Score'] >= 70]['Reading Score'].count()
percent_reading = total_math/student_count * 100

In [134]:
# Calculate the % of students passing overall  
percent_passing = school_data_df.loc[(school_data_df['Math Score'] >= 70)] & school_data_df.loc[(school_data_df['Reading Score'] >= 70)]['Student Name'].count()/student_count * 100    astype(float)

TypeError: Cannot perform 'and_' with a dtyped [int64] array and scalar of type [bool]

In [172]:
# Create summry table
summary_df = pd.DataFrame({'Total Schools': [school_count],
                            'Total Students': student_count,
                            'Total Budget': total_budget,
                            'Average Math Score': ave_math,
                            'Average Reading Score': ave_reading,
                            '% Passing Math': percent_math, 
                            '% Passing Reading': percent_reading,
                            #'% Overall Passing': percent_passing
                            })

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,74.980853

In [173]:
#Tidy formatting of df
#summary_df['Total Students'] = summary_df['Total Students'].map("{:,}".format)
summary_df['Total Budget'] = summary_df['Total Budget'].astype(float).map("${:,.2f}".format)
summary_df['Average Math Score'] = summary_df['Average Math Score'].map("{:.2f}".format)
summary_df['Average Reading Score'] = summary_df['Average Reading Score'].map("{:.2f}".format)
summary_df['% Passing Math'] = summary_df['% Passing Math'].map("{:.2f}%".format)
summary_df['% Passing Reading'] = summary_df['% Passing Reading'].map("{:.2f}%".format)

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,74.98%

In [ ]:
# Table to summarise metrics for each school - School Name, School Type, Total Students, Total School Budget, Per Student Budget, Ave Math Score, Ave Reading Score, % Passing Math, % Passing Reading, % Ocerall Passing

In [ ]:
# Create df for above

In [ ]:
# Sort schools by % overall passing

In [ ]:
#Sort bottom 5 lowest % overall passing

In [ ]:
##Maths scores by grade ***

In [ ]:
## Reading scores by grade**

In [ ]:
## Scores by spending **

In [ ]:
## Scores by school size Y**

In [ ]:
## Scores by school type **