In [49]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_original_df = pd.read_csv(school_data_to_load)
student_data_original_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_original_df, school_data_original_df, how="left", on=["school_name", "school_name"])

In [50]:
#Print schools data frame
school_data_original_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [51]:
#Print student data frame
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [52]:
# Print data frame

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [53]:
# Rename columns
school_data_df = school_data_complete_df.rename(columns={'student_name': 'Student Name',
                                                        'school_name': 'School Name', 
                                                        'gender': 'Gender', 
                                                        'grade': 'Grade', 
                                                        'reading_score': 'Reading Score', 
                                                        'math_score': 'Math Score',
                                                         'type': 'Type', 
                                                         'size': 'Size', 
                                                         'budget': 'Budget'})
school_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [54]:
# Check rows in data
school_data_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
School ID        39170
Type             39170
Size             39170
Budget           39170
dtype: int64

In [55]:
# Calculate the number of schools
school_count = len(school_data_df['School Name'].unique())
print(school_count)

15

In [56]:
# Calculate the total number of students
student_count = school_data_df['Student Name'].count()
print(student_count)

39170

In [57]:
#Calculate total budget
total_budget = school_data_original_df['budget'].sum()
print(total_budget)

24649428

In [58]:
# Calculate the average math 
ave_math = school_data_df['Math Score'].mean()
print(ave_math)

78.98537145774827

In [59]:
# Calculate the average reading score
ave_reading = school_data_df['Reading Score'].mean()
print(ave_reading)

81.87784018381414

In [60]:
# Calculate the % passing Math
total_math = school_data_df.loc[school_data_df['Math Score'] >= 70]['Math Score'].count()
percent_math = total_math/student_count * 100
print(percent_math)

74.9808526933878

In [61]:
# Calculate the % passing Reading
total_reading = school_data_df.loc[school_data_df['Reading Score'] >= 70]['Reading Score'].count()
percent_reading = total_reading/student_count * 100
print(percent_reading)

85.80546336482001

In [62]:
intersect_df = pd.DataFrame(student_data_df, columns=['student_name', 'Student_ID', 'math_score', 'reading_score'])
intersect_df

            student_name  Student_ID  math_score  reading_score
0           Paul Bradley         NaN          79             66
1           Victor Smith         NaN          61             94
2        Kevin Rodriguez         NaN          60             90
3      Dr. Richard Scott         NaN          58             67
4             Bonnie Ray         NaN          84             97
...                  ...         ...         ...            ...
39165       Donna Howard         NaN          90             99
39166          Dawn Bell         NaN          70             95
39167     Rebecca Tanner         NaN          84             73
39168       Desiree Kidd         NaN          90             99
39169    Carolyn Jackson         NaN          75             95

[39170 rows x 4 columns]

In [63]:
# # Calculate the % of students passing overall - need to find intersectione between math & reading to count students achieving both and divide by total students
# passing_both = intersect_df[(intersect_df['reading_score'] >= 70) & (intersect_df['math_score'] >= 70)]
# percent_passing = passing_both/student_count * 100
# print(percent_passing)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [71]:
# Table to summarise metrics for each school - School Name, School Type, Total Students, Total School Budget, Per Student Budget, Ave Math Score, Ave Reading Score, % Passing Math, % Passing Reading, % Overall Passing
summary_df = pd.DataFrame({'Total Schools': [school_count],
                            'Total Students': student_count,
                            'Total Budget': total_budget,
                            'Average Math Score': ave_math,
                            'Average Reading Score': ave_reading,
                            '% Passing Math': percent_math, 
                            '% Passing Reading': percent_reading,
                            #'% Overall Passing': percent_passing
                            })

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463

In [72]:
#Tidy formatting of df
summary_df['Total Students'] = summary_df['Total Students'].map("{:,}".format)
summary_df['Total Budget'] = summary_df['Total Budget'].astype(float).map("${:,.2f}".format)
summary_df['Average Math Score'] = summary_df['Average Math Score'].map("{:.2f}".format)
summary_df['Average Reading Score'] = summary_df['Average Reading Score'].map("{:.2f}".format)
summary_df['% Passing Math'] = summary_df['% Passing Math'].map("{:.2f}%".format)
summary_df['% Passing Reading'] = summary_df['% Passing Reading'].map("{:.2f}%".format)

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%

In [75]:
# School Name 
grouped_school_name = school_data_df.groupby(['School Name'])

(grouped_school_name).head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [ ]:
# School type
school_type = grouped_school_name_df(grouped_school_name['school_name'])['Type']

In [81]:
# Total students per school
total_students = student_data_df['school_name'].value_counts()
print(total_students)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [89]:
# Total school budget
total_school_budget = school_data_original_df['school_name', 'budget']
print(total_school_budget)

KeyError: ('school_name', 'budget')

In [ ]:
# Per student budget
per_student = total_school_budget / total_students

In [ ]:
# Average math score
school_ave_math = grouped_school_name_df['Math Score'].mean()

In [ ]:
# Average reading score
school_ave_reading = grouped_school_name_df['Reading Score'].mean()

In [ ]:
# % Passing math
sch_pass_math = school_data_df[school_data_df['Math Score'] >= 70].groupby('School Name')['Student ID'].count()/student_count

In [ ]:
# % passing reading
sch_pass_reading = school_data_df[school_data_df['Reading Score'] >= 70].groupby('School Name')['Student ID'].count()/student_count

In [ ]:
# % overall passing

In [74]:
# Create df for above 
sch_sum_df = pd.DataFrame({'School Type': school_type,
                            'Total Students': total_students,
                            'Total School Budget': total_school_budget,
                            'Per Student Budget': per_student,
                            'Average Math Score': school_ave_math,
                            'Average Reading Score': school_ave_reading,
                            '% Passing Math': sch_pass_math, 
                            '% Passing Reading': sch_pass_reading,
                            #'% Overall Passing': percent_passing
                            })

sch_sum_df.head()

NameError: name 'school_type' is not defined

In [ ]:
sch_sum_df['Total school Budget'] = sch_sum_df['Total School Budget'].astype(float).map("${:,.2f}".format)
sch_sum_df['Average Math Score'] = sch_sum_df['Average Math Score'].map("{:.2f}".format)
sch_sum_df['Average Reading Score'] = sch_sum_df['Average Reading Score'].map("{:.2f}".format)
sch_sum_df['% Passing Math'] = sch_sum_df['% Passing Math'].map("{:.2f}%".format)
sch_sum_df['% Passing Reading'] = sch_sum_df['% Passing Reading'].map("{:.2f}%".format)

sch_sum_df.head()

In [ ]:
# Sort schools by % overall passing 
sch_sum_df = sch_sum_df.sort_values("% Overall Passing", ascending=False)
sch_sum_df.head()

In [ ]:
#Sort bottom 5 lowest % overall passing
sch_sum_df = sch_sum_df.sort_values("% Overall Passing", ascending=False)
sch_sum_df.head(5)

In [ ]:
##Maths scores by grade ***

In [ ]:
## Reading scores by grade**

In [ ]:
## Scores by spending **

In [ ]:
## Scores by school size **

In [ ]:
## Scores by school type **