In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_original_df = pd.read_csv(school_data_to_load)
student_data_original_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_original_df, school_data_original_df, how="left", on=["school_name", "school_name"])

In [2]:
#Print schools data frame
school_data_original_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
#Print student data frame
student_data_original_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Print data frame

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# Rename columns
school_data_df = school_data_complete_df.rename(columns={'student_name': 'Student Name',
                                                        'school_name': 'School Name', 
                                                        'gender': 'Gender', 
                                                        'grade': 'Grade', 
                                                        'reading_score': 'Reading Score', 
                                                        'math_score': 'Math Score',
                                                         'type': 'Type', 
                                                         'size': 'Size', 
                                                         'budget': 'Budget'})
school_data_df.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
# Check rows in data
school_data_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School Name      39170
Reading Score    39170
Math Score       39170
School ID        39170
Type             39170
Size             39170
Budget           39170
dtype: int64

In [7]:
# Calculate the number of schools
school_count = len(school_data_df['School Name'].unique())
print(school_count)

15

In [8]:
# Calculate the total number of students
student_count = school_data_df['Student Name'].count()
print(student_count)

39170

In [9]:
#Calculate total budget
total_budget = school_data_original_df['budget'].sum()
print(total_budget)

24649428

In [10]:
# Calculate the average math 
ave_math = school_data_df['Math Score'].mean()
print(ave_math)

78.98537145774827

In [11]:
# Calculate the average reading score
ave_reading = school_data_df['Reading Score'].mean()
print(ave_reading)

81.87784018381414

In [12]:
# Calculate the % passing Math
total_math = school_data_df.loc[school_data_df['Math Score'] >= 70]['Math Score'].count()
percent_math = total_math/student_count * 100
print(percent_math)

74.9808526933878

In [13]:
# Calculate the % passing Reading
total_reading = school_data_df.loc[school_data_df['Reading Score'] >= 70]['Reading Score'].count()
percent_reading = total_reading/student_count * 100
print(percent_reading)

85.80546336482001

In [14]:
# Calculate the % of students passing overall - need to find intersectione between math & reading to count students achieving both and divide by total students
passing_both = school_data_df[(school_data_df['Reading Score'] >= 70) & (school_data_df['Math Score'] >= 70)]['Student ID'].count()
percent_passing = passing_both/student_count * 100
print(percent_passing)

65.17232575950983

In [15]:
# Table to summarise metrics for each school - School Name, School Type, Total Students, Total School Budget, Per Student Budget, Ave Math Score, Ave Reading Score, % Passing Math, % Passing Reading, % Overall Passing
summary_df = pd.DataFrame({'Total Schools': [school_count],
                            'Total Students': student_count,
                            'Total Budget': total_budget,
                            'Average Math Score': ave_math,
                            'Average Reading Score': ave_reading,
                            '% Passing Math': percent_math, 
                            '% Passing Reading': percent_reading,
                            '% Overall Passing': percent_passing
                            })

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
#Tidy formatting of df
summary_df['Total Students'] = summary_df['Total Students'].map('{:,}'.format)
summary_df['Total Budget'] = summary_df['Total Budget'].astype(float).map('${:,.2f}'.format)
summary_df['Average Math Score'] = summary_df['Average Math Score'].map('{:.2f}'.format)
summary_df['Average Reading Score'] = summary_df['Average Reading Score'].map('{:.2f}'.format)
summary_df['% Passing Math'] = summary_df['% Passing Math'].map('{:.2f}%'.format)
summary_df['% Passing Reading'] = summary_df['% Passing Reading'].map('{:.2f}%'.format)
summary_df['% Overall Passing'] = summary_df['% Overall Passing'].map('{:.2f}%'.format)

summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

In [17]:
# Grouped by school Name 
by_school = school_data_df.set_index('School Name').groupby(['School Name'])
by_school.head()

,Student ID,Student Name,Gender,Grade,Reading Score,Math Score,School ID,Type,Size,Budget
School Name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [18]:
# School type
school_type = school_data_df.set_index('School Name')['Type']
school_type

School Name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: Type, Length: 39170, dtype: object

In [19]:
school_type = school_type[~school_type.index.duplicated()]
school_type

School Name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: Type, dtype: object

In [20]:
# Total students per school
total_students = by_school['Student ID'].count()
print(total_students)

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [21]:
# Total school budget
school_total_budget = school_data_df.set_index('School Name')['Budget']
school_total_budget = school_total_budget[~school_total_budget.index.duplicated()]
print(school_total_budget)

School Name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: Budget, dtype: int64

In [22]:
# Per student budget
per_student = school_data_df.set_index('School Name')['Budget'] / school_data_df.set_index('School Name')['Size']
per_student = per_student[~per_student.index.duplicated()]
print(per_student)

School Name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [23]:
# Average math score by school
school_ave_math = by_school['Math Score'].mean()
print(school_ave_math)

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: Math Score, dtype: float64

In [24]:
# Average reading score by school
school_ave_reading = by_school['Reading Score'].mean()
print(school_ave_reading)

School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: Reading Score, dtype: float64

In [25]:
# % Passing math by school
sch_pass_math = school_data_df[school_data_df['Math Score'] >= 70].groupby('School Name')['Student ID'].count() / total_students
per_sch_pass_math = sch_pass_math * 100
print(per_sch_pass_math)

School Name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [26]:
# % passing reading by school
sch_pass_reading = school_data_df[school_data_df['Reading Score'] >= 70].groupby('School Name')['Student ID'].count()/total_students
per_sch_pass_reading = sch_pass_reading * 100
print(per_sch_pass_reading)

School Name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [27]:
# % overall passing by school
sch_pass_both = school_data_df[(school_data_df['Reading Score'] >= 70) & (school_data_df['Math Score'] >= 70)].groupby('School Name')['Student ID'].count() / total_students * 100
print(sch_pass_both)

School Name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [28]:
# Create df for above 
sch_sum_df = pd.DataFrame({'School Type': school_type,
                            'Total Students': total_students,
                            'Total School Budget': school_total_budget,
                            'Per Student Budget': per_student,
                            'Average Math Score': school_ave_math,
                            'Average Reading Score': school_ave_reading,
                            '% Passing Math': per_sch_pass_math, 
                            '% Passing Reading': per_sch_pass_reading,
                            '% Overall Passing': sch_pass_both
                            })

sch_sum_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [29]:
sch_sum_df.style.format({'Total Students': '{:.}',
                        'Per School Budget': '{:.0f}',
                        'Total School Budget': '{:.2f}',
                        'Average Math Score': '{:.2f}',
                        'Average Reading Score': '{:.2f}',
                        '% Passing Math': '{:.2f}',
                        '% Passing Reading': '{:.2f}',
                        '% Overall Passing': '{:.2f}'})

sch_sum_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [30]:
# Top schools by % overall passing - top 5
sch_sum_df = sch_sum_df.sort_values("% Overall Passing", ascending=False)
sch_sum_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [31]:
# Bottom schools by % overall passing - bottom 5

sch_sum_df = sch_sum_df.sort_values("% Overall Passing", ascending=True)
sch_sum_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [32]:
# Maths scores by grade - average Math Score for grades 9, 10, 11, 12 at each school
ninth_math = student_data_original_df.loc[student_data_original_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data_original_df.loc[student_data_original_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data_original_df.loc[student_data_original_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data_original_df.loc[student_data_original_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

In [33]:
# Create math score by grade df
math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"
print(math_scores)

                             9th       10th       11th       12th
School
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [34]:
# Format df
math_scores.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

In [35]:
# Reading scores by grade - average Reading Score for grades 9, 10, 11, 12 at each school
ninth_reading = student_data_original_df.loc[student_data_original_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_reading = student_data_original_df.loc[student_data_original_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_reading = student_data_original_df.loc[student_data_original_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_reading = student_data_original_df.loc[student_data_original_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

In [36]:
# Create a df
reading_scores = pd.DataFrame({
    '9th': ninth_reading, 
    '10th': tenth_reading, 
    '11th': eleventh_reading,
    '12th': twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = 'School'

In [37]:
# Format the reading df
reading_scores.style.format({'9th': '{:.2f}',
                            '10th': '{:.2f}',
                            '11th': '{:.2f}',
                            '12th': '{:.2f}'})

In [38]:
# Scores by spending - spending ranges < $584, $585-629, $630-644, > $645 - ave math/reading/% passing math/% passing reading/% passing overall
bins = [0, 584.99, 629.99, 644.99, 674.99]
group_spending = ['< $585', '$585 - $629', '$630 - $644', '>$645']
school_data_df['group_spending'] = pd.cut(school_data_df['Budget']/school_data_df['Size'],bins, labels = group_spending)
by_spending = school_data_df.groupby('group_spending')

In [39]:
# Calculate ave math/reading/% passing math/% passing reading/% passing overall
math_by_spend = by_spending['Math Score'].mean()
reading_by_spend = by_spending['Reading Score'].mean()
per_math_by_spend = school_data_df[school_data_df['Math Score'] >= 70].groupby('group_spending')['Student ID'].count() / by_spending['Student ID'].count() * 100
per_read_by_spend = school_data_df[school_data_df['Reading Score'] >= 70].groupby('group_spending')['Student ID'].count() / by_spending['Student ID'].count() * 100
per_overall_by_spend = school_data_df[(school_data_df['Math Score'] >= 70) & (school_data_df['Reading Score'] >= 70)].groupby('group_spending')['Student ID'].count() / by_spending['Student ID'].count() * 100

In [40]:
# Create df
scores_by_spending = pd.DataFrame({
        'Average Math Score': math_by_spend,
        'Average Reading Score': reading_by_spend,
        'Percent Passing Math': per_math_by_spend,
        'Percent Passing Reading': per_read_by_spend, 
        'Percent Passing Overall': per_overall_by_spend
})
scores_by_spending

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
group_spending,,,,,
< $585,83.363065,83.964039,93.702889,96.686558,90.640704
$585 - $629,79.982873,82.312643,79.109851,88.513145,70.939239
$630 - $644,77.821056,81.301007,70.623565,82.600247,58.841194
>$645,77.049297,81.005604,66.230813,81.109397,53.528791

In [41]:
# Format df
scores_by_spending.style.format({'Average Math Score': '{:.2f}',
                                'Average Reading Score': '{:.2f}',
                                'Percent Passing Math': '{:.2f}',
                                'Percent Passing Reading': '{:.2f}',
                                'Percent Passing Overall': '{:.2f}'
                                })

In [42]:
# Scores by school size - school size ranges <1,000 / 1,000 / 2,000 / 2,000-5,000 - ave math/reading/% passing math/% passing reading/% passing overall
bins = [0, 999, 1999, 5000]
group_name = ['Small ( < 1000)', 'Medium (1000 - 2000)', 'Large (2000 - 5000)']
school_data_df['size_bins'] = pd.cut(school_data_df['Size'], bins, labels = group_name)

scores_by_size = school_data_df.groupby('size_bins')

In [43]:
# Calculate math/reading/% passing math/% passing reading/% passing overall
math_by_sch_size = scores_by_size['Math Score'].mean()
reading_by_sch_size = scores_by_size['Reading Score'].mean()
per_math_by_size = school_data_df[school_data_df['Math Score'] >= 70].groupby('size_bins')['Student ID'].count() / scores_by_size['Student ID'].count() * 100
per_reading_by_size = school_data_df[school_data_df['Reading Score'] >= 70].groupby('size_bins')['Student ID'].count() / scores_by_size['Student ID'].count() * 100
per_pass_by_size = school_data_df[(school_data_df['Math Score'] >= 70) & (school_data_df['Reading Score'] >= 70)].groupby('size_bins')['Student ID'].count() / scores_by_size['Student ID'].count() * 100

In [44]:
# Create df
scores_by_size = pd.DataFrame({
        'Average Math Score': math_by_sch_size,
        'Average Reading Score': reading_by_sch_size,
        'Percent Passing Math': per_math_by_size,
        'Percent Passing Reading': per_reading_by_size,
        'Percent Passing Overall': per_pass_by_size
})
scores_by_size

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
size_bins,,,,,
Small ( < 1000),83.828654,83.974082,93.952484,96.040317,90.136789
Medium (1000 - 2000),83.372682,83.867989,93.616522,96.773058,90.624267
Large (2000 - 5000),77.477597,81.198674,68.652380,82.125158,56.574046

In [45]:
# Format df
scores_by_size.style.format({
        'Average Math Score': '{:.2f}',
        'Average Reading Score': '{:.2f}',
        'Percent Passing Math': '{:.2f}',
        'Percent Passing Reading': '{:.2f}',
        'Percent Passing Overall': '{:.2f}'
})

In [46]:
# Scores by school type - Charter / District  - ave math/reading/% passing math/% passing reading/% passing overall
by_type = school_data_df.groupby('Type')

In [47]:
# Calculate - ave math/reading/% passing math/% passing reading/% passing overall
math_by_type = by_type['Math Score'].mean()
reading_by_type = by_type['Reading Score'].mean()
per_math_by_type = school_data_df[school_data_df['Math Score'] >= 70].groupby('Type')['Student ID'].count() / by_type['Student ID'].count() * 100
per_reading_by_type = school_data_df[school_data_df['Reading Score'] >= 70].groupby('Type')['Student ID'].count() / by_type['Student ID'].count() * 100
per_both_by_type = school_data_df[(school_data_df['Math Score'] >= 70) & (school_data_df['Reading Score'] >= 70)].groupby('Type')['Student ID'].count() / by_type['Student ID'].count() * 100

In [48]:
# Create df
scores_by_type = pd.DataFrame({'Average Math Score': math_by_type,
                                'Average Reading Score': reading_by_type, 
                                'Percent Passing Math': per_math_by_type, 
                                'Percent Passing Reading': per_reading_by_type,
                                'Percent Passing Overall': per_both_by_type
})
scores_by_type

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
Type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878

In [49]:
# Format df
scores_by_type.style.format({
        'Average Math Score': '{:.2f}',
        'Average Reading Score': '{:.2f}',
        'Percent Passing Math': '{:.2f}',
        'Percent Passing Reading': '{:.2f}',
        'Percent Passing Overall': '{:.2f}'
})